body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px; /* Sesuaikan ukuran logo */
    margin-right: 10px;
}

.search-bar {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}

/* Gaya Pixel Art (Contoh) */
body {
    font-family: 'Press Start 2P', cursive; /* Contoh font pixel */
}

/* Responsif */
@media (max-width: 600px) {
    /* Gaya untuk tampilan mobile */
    .logo {
        flex-direction: column;
    }
}
/*Tambahkan animasi disini*/
